.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main__contents {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: solid 10px darkmagenta;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
}

.graphs {
  border: solid 10px chartreuse;
  width: 100%;
}

.menu__controls {
  border: solid 10px gold;
  height: 100%;
}

.menu__data {
  border: solid 10px darkcyan;
  height: 100%;
}
