code {
    text-align: center;
}

.nemuButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 90vh;
}

.nemuCol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 20vh;
}

.nemuCol>button{
    min-width: 45vw;
    min-height: 40vh;
    margin: 10px;
}