option{
    color: #FFFFFF;
    background-color: #323741;
}

span{
    color: #FFFFFF;
}

.Viewer {
  text-align: center;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Viewer_Menu{
  display: flex;
  min-width: 15vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.player_Controller{
  background-color: #404755;
  display: flex;
  flex-direction: column;
  min-height: 50%;
}

.files{
  background-color: #323741;
  display: flex;
  min-height: 50%;
}

.Viewer_Graph {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
